<div class="jumbotron">
<div class="container-fluid">
  <div class="row">
     <div class="col-sm-6 pt-3  ">
       <div>
          <h1 class="title"><%= @name %><span class="sannno">さんの</span>Goals</h1>
          <div class="Acchivecount mb-3">
            <%=@name%><span class="sannno">さんの今までの目標達成数</span> <%= @mylevel%>
            <br><%@name%><span class="sannno">現在のGoal設定数</span> <%= 1000000%>
            <br><% @name%><span class="sannno">現在のTask設定数</span> <%= 100000%>
            <br><% @name%><span class="sannno">目標達成率</span> <%= '75%' %>
          </div>
       </div>
     </div>
     <div class="col-sm-6 pt-3  ">
           <% unless user_signed_in? %>
           <% else %>
              <div class="usershow-btn">
                 <%= link_to 'set a goal', new_mission_path, class: "setagoalbtn" %>
                 <%= link_to 'our goals',missions_path, class: "setagoalbtn" %>
              </div>
          <% end %>
     </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
  <% @missions.each do |mission| %>
    <div class="col-sm-6 pt-3   ">
      
        <div class="card shadow">
          <div class="mission_user_name">
              <div class="myname">My goal</div>
          </div>
          <div class="card-body " >
               <h5 class="card-title mb-4"> <%= mission.mission%></h5>
                  <ul class="list-group list-group-flush">
                       <li class="list-group-item">start　　<%= mission.startdate%></li>
                       <li class="list-group-item">end  　　<%= mission.limitdate%></li>
                  </ul>
                        <% if mission.tasks.present? %>
                        <% else %>
                            <div class="row">
                               <div class="spinner-grow text-danger col-6" role="status">
                                   <span class="visually-hidden">いいいいいいい</span>
                               </div>
                                <div class="alert alert-danger col-6" role="alert">
                                      この目標に対する具体的なアクションを設定しないため達成できない可能性があります！
                                  <% if current_user.id == mission.user.id %>
                                     <br>
                                     <%= link_to 'set tasks', mission_path(mission.id),method: :get, class: "btn btn-danger"%>
                                     <br>
                                   <% else %>
                                   <% end %>
                                 </div>
                              </div>  
                          <% end %>
                        <div class="tasks">
                            <% if mission.tasks.present? %>
                              <p><<<  Task list  >>></p>
                            <% else %>
                            <% end %> 
                               <% mission.tasks.each do |t| %>
                                 <p><%= t.task %></p>
                               <% end %>
                         </div>   
                   <p class="card-text text-right"></p>
                  <% if user_signed_in? && current_user.id == mission.user.id %>
                       <% if mission.tasks.present? %>
                           <%= link_to 'add a task', mission_path(mission.id),method: :get, class: "addtaskbtn"%>
                       <% else %>
                           <%# <%= link_to 'タスク設定', mission_path(mission.id),method: :get, class: "btn btn-danger"%> 
                       <% end %>
                  <% else %>
                          <%= link_to '詳細', mission_path(mission.id),method: :get, class: "btn btn-success"%>
                  <% end %>
                <% if mission.favorites.count > 0 %>
                     <i class="bbtn bi-megaphone success">
                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-wind" viewBox="0 0 16 16">
                       <path d="M12.5 2A2.5 2.5 0 0 0 10 4.5a.5.5 0 0 1-1 0A3.5 3.5 0 1 1 12.5 8H.5a.5.5 0 0 1 0-1h12a2.5 2.5 0 0 0 0-5zm-7 1a1 1 0 0 0-1 1 .5.5 0 0 1-1 0 2 2 0 1 1 2 2h-5a.5.5 0 0 1 0-1h5a1 1 0 0 0 0-2zM0 9.5A.5.5 0 0 1 .5 9h10.042a3 3 0 1 1-3 3 .5.5 0 0 1 1 0 2 2 0 1 0 2-2H.5a.5.5 0 0 1-.5-.5z"/>
                     </svg>
                       <%= mission.favorites.count  %> We can do it!!</i>
                <% else %>
                       <i class="unbtn bi-megaphone">
                       <%= mission.favorites.count %> We can do it</i>
                 <% end %>
                 <div class="editdeletebtn mt-3">
                  <% if user_signed_in? && current_user.id == mission.user.id %>
                      <div class="btn-group btn-group-sm" role="group" aria-label="Basic outlined example">
                          <%= link_to 'edit', edit_mission_path(mission.id),method: :get, class: "btn btn-outline"%>
                          <%= link_to 'delete', mission_path(mission.id),method: :delete, class: "btn btn-outline"%>
                      </div>
                        <% if mission.tasks.present? %>
                         <div class="successbtn">
                          <%= link_to 'Achieved!', levelup_mission_path(mission.id),class: "btn btn--orange btn--circle btn--circle-a btn--shadow"%>
                         </div>
                         <% end %>
                   <% end %>
                  </div>
             </div>
       </div>
    
    </div>
    <% end %>
  </div>
</div>

  
        <%# <%= render partial: "mypage", collection: @missions %> 

</div>
</div>