    <%= form_with(model: @mission, local: true) do |form| %>
      <div class="mb-3">
        <label  class="form-label">これは編集画面ですよ</label>
        <%= form.text_field :mission, class:"form-control",placeholder: "text", rows: "10" %>
      </div>
      <div class="mb-3">
        <label  class="form-label">開始日</label>
        <%= form.date_field :startdate,class:"form-control", placeholder: "始まり" %>
      </div>

      <div class="mb-3">
      </div>

      <div class="mb-3">
        <label  class="form-label">期限日</label>
        <%= form.date_field :limitdate,class:"form-control", placeholder: "期限" %>
      </div>
      <div class="mb-3">
        <%= form.submit "SEND",class: "btn btn-primary" %>
      </div>
    <% end %>