
<div class="jumbotron">
 <div class="container-fluid">
  <div class="row">
  
       <% unless user_signed_in? %>
        <div class="missionset-btn col-sm-6">
          <h1 class="mypage-title"> <%= image_tag 'addtaskii-05.svg', alt: "logo",class:"adlogo"%>| addtaskiiへようこそ。</h1>  
        </div>
        <div class="btns col-md-6 mt-3">
          <%# <%= image_tag 'addtaskii-05.svg', alt: "logo",class:"adlogo"%> 
          <%= link_to "Login", new_user_session_path, class: "loginbtn" %>
          <%= link_to "Sign Up", new_user_registration_path, class: "signupbtn"%>
          <h6 class="mypage-sbtitle ">Come and join team!</h2>  
        </div>

        <div class="photo1 col-md-6">
         <%= image_tag '5.png', alt: "kohlipe", class:'kohlipe mt-5'  %>
        </div>
        <div class="textparent col-md-6 mt-5">
          <span class="text">
          <h5 class="subtitle mb-4">addtaskiiはあなたの目標達成を支援します。</h5>
          <h6 class="mb-2">目標は、日常の小さなことから大きなことまで。</h6>
          <h6 class="mb-2">試しにまずはset a goalから設定してみましょう。</h6>
          </span>
        </div>


        <div class="textparent col-md-6 mt-5">
          <span class="text">
          <h5 class="subtitle mb-4">あなたの目標達成には何が必要ですか？ </h5>
          <h6 class="mb-2">目標達成には、そのための条件を考えることが大切です。</h6>
          <h6 class="mb-2">set tasksから、目標達成のためのtaskを設定しましょう。</h6>
          <h6>taskの設定が目標達成の可能性を高めます。</h6>
          <h5 class="subtitle mt-5">きっとtaskはいくつかあります。</h6>
          <h6 class="mt-2">思いついたらサクサクaddtaskしましょう。</h6>
          </span>
        </div>
         <div class="photo2 col-md-6">
           <%= image_tag '3.png', alt: "kohlipe", class:'kohlipe mt-5'  %>
        </div>


        <div class="photo3 col-md-6">
          <%= image_tag '4.png', alt: "kohlipe", class:'kohlipe mt-5'  %>
        </div>
        <div class="textparent col-md-6 mt-5">
          <span class="text">
          <h5 class="subtitle mb-4">あなたの目標とそのtaskは参考にされます。</h5>
          <h6 class="mb-2">同じ目標をもつ人はきっといます。<br>誰かのtaskを参考にできます。</h6>
          <h5 class="subtitle mt-5">同じ目標を持つ者同士励まし合いましょう。</h6>
          <h6 class="mt-2">we can do it の数をチェックできます。</h6>

          </span>
        </div>
     </div>
       <% else %>
          <div class="ourgoals col-sm-6">
             <h3 class="top">our goals</h3>
          </div>
      <div class="col-sm-6 pt-3  ">
          <div class="usershow-btn">
             <%= link_to 'set a goal', new_mission_path, class: "setagoalbtn" %>
             <%# <%= link_to 'ranking', user_ranks_path(@userid), class: "setagoalbtn" %> 
          </div>
          <div class="usershow-btn mt-4">
            <%= link_to 'my goals',"/users/#{@userid}", class: "setagoalbtn" %>
          </div>
          <div class="usershow-btn mt-4">
            <%= link_to 'new_room',new_room_path, class: "setagoalbtn" %>
          </div>
          <div class="usershow-btn mt-4">
            <%= link_to 'join_team',join_room_path(id: @room.id), class: "setagoalbtn" %>
          </div>t
       </div>
       <% end %>
    </div>
 </div>

<div class="container-fluid">
 <div class="row">
   <% unless user_signed_in? %>



   <% else %>
    

         <div class="row">
            <%= render partial: "mission", collection: @missions %>
         </div>
      </div>
     <% end %>
  </div>
 </div>
  

</div>

