 <div class="col-md-12 pt-3  ">
    <div class="card">
      <div class="card-body " >
        <h5 class="card-title"> <%= @mission.mission%></h5>

         <ul class="list-group list-group-flush">
         <li class="list-group-item">開始日　<%= @mission.startdate%></li>
         <li class="list-group-item">期限　　<%= @mission.limitdate%></li>
         </ul>
<% if @mission.tasks.present? %>
<% else %>
<div class="row">
       <div class="spinner-grow text-danger col-6" role="status">
         <span class="visually-hidden">いいいいいいい</span>
       </div>
       <div class="alert alert-danger col-6" role="alert">
         この課題に対する具体的なアクションを設定しないため達成できない可能性があります！
      </div>
</div>  
<% end %>

 <% if user_signed_in? && current_user.id == @mission.user.id %>
  <%= form_with(model: [@mission, @task], local: true) do |form| %>
        <%= form.text_field :task, placeholder: "タスクの設定", rows: "2" %>
        <% if @mission.tasks.present? %>
        <%= form.submit "タスクの追加", class: "btn btn-primary" %>
        <% else %>
         <%= form.submit "タスク設定", class: "btn btn-danger" %>
        <% end %> 
  <% end %>
<% end %>

      <div class="tasks">
      <% if @mission.tasks.present? %>
       <p>＜タスク一覧＞</p>
      <% else %>
      <% end %>
      
      <% @tasks.each do |t| %>
         <p>
           <%= t.task %>
        </p>
      <% end %>
     </div>   

    <% if user_signed_in? && current_user.id == @mission.user.id %>
      <p class="card-text text-right"></p>
        <%= link_to '編集', edit_mission_path(@mission.id),method: :get, class: "btn btn-primary"%>
        <%= link_to '削除', mission_path(@mission.id),method: :delete, class: "btn btn-primary"%>
         <%= link_to '達成', levelup_mission_path(@mission.id),class: "btn btn-success"%>
    <% end %>


    <% if @mission.favorites.count > 0 %>

      <i class="bbtn bi-megaphone success">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-wind" viewBox="0 0 16 16">
        <path d="M12.5 2A2.5 2.5 0 0 0 10 4.5a.5.5 0 0 1-1 0A3.5 3.5 0 1 1 12.5 8H.5a.5.5 0 0 1 0-1h12a2.5 2.5 0 0 0 0-5zm-7 1a1 1 0 0 0-1 1 .5.5 0 0 1-1 0 2 2 0 1 1 2 2h-5a.5.5 0 0 1 0-1h5a1 1 0 0 0 0-2zM0 9.5A.5.5 0 0 1 .5 9h10.042a3 3 0 1 1-3 3 .5.5 0 0 1 1 0 2 2 0 1 0 2-2H.5a.5.5 0 0 1-.5-.5z"/>
      </svg>
      <%= @mission.favorites.count  %> We can do it!!</i>
    <% else %>
      <i class="unbtn bi-megaphone">
      <%= @mission.favorites.count %> We can do it</i>
    <% end %>

         
      
  
