<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>addtaskii</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

     <%= javascript_pack_tag 'application'%>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>    

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap" rel="stylesheet">   
    
  
     </head>


<body style="padding-top: 5rem" class='<%= controller.controller_name %>'>
<header>
<nav class="navbar navbar-dark shadow fixed-top" style="background-color:#000033;" >
  <div class="container-fluid">
  <div class="left-parent">
  <?xml version="1.0" encoding="utf-8"?>
    <svg width="19px" height="15px" version="1.1" id="レイヤー_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
     	 y="0px" viewBox="0 0 30 30" style="enable-background:new 0 0 30 30;" xml:space="preserve">
      <style type="text/css">
       	.st0{fill:#000033;}
	      .st1{fill:#FFFFFF;}
      </style>
      <g>
	       <path class="st1" d="M25.77,30H4.23C1.89,30,0,28.11,0,25.77V4.23C0,1.89,1.89,0,4.23,0h21.54C28.11,0,30,1.89,30,4.23v21.54
	          	C30,28.11,28.11,30,25.77,30z"/>
	       <g>
	       	<path class="st0" d="M16.88,4.76L8.13,25.33H2.97l9.11-20.69"/>
	      	<path class="st0" d="M12.08,4.65h3.79c3.01,0,5.47,0.41,7.84,2.5c2.29,2.03,3.33,4.81,3.33,7.88c0,3.02-1.07,5.69-3.28,7.72
	       		c-2.4,2.2-4.8,2.61-7.94,2.61h-3.73V4.65z"/>
	        <path class="st1" d="M16.39,8.96c2.2,0.05,3.33,0.42,4.47,1.42c1.25,1.11,1.87,2.63,1.87,4.65c0,1.89-0.62,3.38-1.88,4.54
	   	    	c-1.15,1.06-2.2,1.42-4.45,1.47V8.96z"/>
	       </g>
      </g>
    </svg>
    <%= link_to 'addtaskii', root_path, class: "navbar-brand"%>
  </div>
   <div class="right-parent">
     <div class="right-elements"></div>
     <% if user_signed_in?%>
         <%= render 'missions/navbar' %>
     <% else %>
     <% end %>


    </div>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
        <% if user_signed_in? %>
          <li><%= link_to "マイページ", "/users/#{current_user.id}", class: "navlist"%></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "navlist"%></li>
        <% else %>
            <li><%= link_to "ログイン", new_user_session_path, class: "navlist" %></li>
            <li><%= link_to "新規登録", new_user_registration_path, class: "navlist"%></li>
         <% end %>
        </li>
      </ul>
      <%= form_with(url: search_missions_path, local: true, method: :get, class: "search-form") do |form| %>
        <%= form.text_field :keyword, placeholder: "検索する", class: "search-input" %>
        <%= form.submit "検索", class: "tn btn-outline-success" %>
      <% end %>




  </div>
</nav>
</header>

<main>
<%# <p>jquery導入確認用</p>
<script type="text/javascript">
  $(document).ready(function() {
    $("p").text("成功！！");
  });
</script> %>


 <div class="content">
  <div class="container">
   <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list"></div>


     <%= yield %>

  </div>
 
  

 </div>
 

</main>

  
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>

        <%# <p>テスト</p>
<script type="text/javascript">
  $(document).ready(function() {
    $("p").text("成功！！");
  });
</script> %>

</html>
